In [ ]:
%pip install pandas
%pip install numpy

In [3]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
def df_stats(df):
    print(df.info())
    # print(sessions.describe())
    print(df.head())

In [5]:
sessions_path = 'content/sessions.jsonl'

sessions = pd.read_json(file_path, lines=True, encoding='utf-8')

df_stats(sessions)

tracks_path = 'content/tracks.jsonl'

tracks = pd.read_json(tracks_path, lines=True, encoding='utf-8')

df_stats(tracks)


users_path = 'content/users.jsonl'

users = pd.read_json(users_path, lines=True, encoding='utf-8')

df_stats(users)

artists_path = 'content/artists.jsonl'

artists = pd.read_json(artists_path, lines=True, encoding='utf-8')

df_stats(artists)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453169 entries, 0 to 1453168
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   timestamp   1453169 non-null  datetime64[ns, UTC+02:00]
 1   user_id     1453169 non-null  int64
 2   track_id    1453169 non-null  object
 3   event_type  1453169 non-null  object
 4   session_id  1453169 non-null  int64
dtypes: datetime64[ns, UTC+02:00](1), int64(2), object(2)
memory usage: 55.4+ MB
None
                         timestamp  user_id                track_id  \
0        2022-01-17 12:03:00+02:00     1507  39GRCEbFDzuRoA2o3L6GCv
1 2022-01-17 12:05:40.376000+02:00     1507  39GRCEbFDzuRoA2o3L6GCv
2 2022-01-17 12:05:40.376000+02:00     1507  67TCzZwItIKvgZp1quRx19
3 2022-01-17 12:08:12.883000+02:00     1507  1vx7gxUjwQnVXK2D7M44j4
4 2022-01-17 12:11:08.282000+02:00     1507  3vpIO1agm7pzvTiwHmtkjW

  event_type  session_id
0       Play         124
1       Skip         124
2       Play         124
3       Play         124
4       Play         124
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129648 entries, 0 to 129647
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                129648 non-null  object
 1   artist_id         129648 non-null  object
 2   name              129648 non-null  object
 3   popularity        129648 non-null  int64
 4   duration_ms       129648 non-null  int64
 5   explicit          129648 non-null  int64
 6   release_date      129648 non-null  object
 7   danceability      129648 non-null  float64
 8   energy            129648 non-null  float64
 9   key               129648 non-null  int64
 10  mode              25930 non-null   float64
 11  loudness          129648 non-null  float64
 12  speechiness       129648 non-null  float64
 13  acousticness      129648 non-null  float64
 14  instrumentalness  129648 non-null  float64
 15  liveness          129648 non-null  float64
 16  valence           129648 non-null  float64
 17  tempo             129648 non-null  float64
 18  time_signature    129648 non-null  int64
dtypes: float64(10), int64(5), object(4)
memory usage: 18.8+ MB
None
                       id               artist_id  \
0  6C0WWu7RYKbAgWUI3YC0sT  7u710e44HW3K7A5eTnRqHC
1  4q7EBRq8ncztC2PRmEC7Fy  3sFhA6G1N0gG1pszb6kk1m
2  7cNyONpVADZVrW9xe3qq4z  7IAXZaLTb6nkJr8RmVPn5y
3  1bKRTzTFz7wHMxpgZSuPR1  5bOsFzuJ6QZMr86ezC4oXY
4  56OEjuyZ3AROnv4aR1XqhD  6zJ7WZkyTNmB1bFdmHH2k9

                          name  popularity  duration_ms  explicit  \
0       Voglio farti un regalo          40       249573         1
1  My Love - Live / Remastered          34       254733         0
2               Heroes of Sand          45       279347         0
3        Shine on Harvest Moon           6       193707         0
4                          男子漢          19       182120         0

  release_date  danceability  energy  key  mode  loudness  speechiness  \
0   2004-09-01         0.727  0.6630    4   0.0    -4.818       0.2770
1   1976-12-10         0.444  0.3480    5   1.0   -12.729       0.0321
2         2001         0.273  0.8990    6   1.0    -5.131       0.0499
3   1961-10-15         0.628  0.0616    0   1.0   -24.973       0.0558
4   1970-01-11         0.353  0.0663    8   0.0   -24.915       0.0445

   acousticness  instrumentalness  liveness  valence    tempo  time_signature
0       0.08010          0.000000     0.119    0.633   97.865               4
1       0.65600          0.003740     0.956    0.284  116.685               4
2       0.00177          0.000006     0.128    0.301  159.872               3
3       0.78400          0.000009     0.172    0.340   85.012               4
4       0.95800          0.000446     0.241    0.317  100.041               4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           3000 non-null   int64
 1   name              3000 non-null   object
 2   city              3000 non-null   object
 3   street            3000 non-null   object
 4   favourite_genres  3000 non-null   object
 5   premium_user      3000 non-null   bool
dtypes: bool(1), int64(1), object(4)
memory usage: 120.2+ KB
None
   user_id                 name       city        street  \
0      101      Jerzy Tatarczyk    Wyszków  Błękitna 928
1      102        Rozalia Kujda      Konin     Polna 670
2      103  Kazimierz Posłuszna      Żagań   Tęczowa 883
3      104          Witold Cyba  Legionowo  Jesionowa 50
4      105     Gustaw Bąkiewicz   Pruszków  Jeziorna 255

                            favourite_genres  premium_user
0                     [lounge, rock, motown]         False
1  [mellow gold, permanent wave, latin rock]         False
2                [pop, ranchera, blues rock]         False
3     [new romantic, new wave, country rock]         False
4             [metal, rock en espanol, soul]         False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27650 entries, 0 to 27649
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      27650 non-null  object
 1   name    27650 non-null  object
 2   genres  27650 non-null  object
dtypes: object(3)
memory usage: 648.2+ KB
None
                       id             name  \
0  3cS04S9ChhEClgDghrhOzg      Stan Rogers
1  5YAyfkBbhMZEMUTAGGvEOT        Paul Rein
2  1wUR3aZ8uewepI5EWzwZov            Wanco
3  7y1MwRGHCLUraVZuYY7X03  Jantina Noorman
4  1b5kd4esL2zG9nhXz65b8K  The Brady Bunch

                                              genres
0  [canadian celtic, canadian singer-songwriter, ...
1                                 [swedish synthpop]
2                                  [cumbia uruguaya]
3                                       [dutch folk]
4                                    [bubblegum pop]

In [ ]:
# A = 1
for a in 
# result = df.loc[df['Attribute2'] == 'A', 'Attribute1'].values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129648 entries, 0 to 129647
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                129648 non-null  object
 1   artist_id         129648 non-null  object
 2   name              129648 non-null  object
 3   popularity        129648 non-null  int64
 4   duration_ms       129648 non-null  int64
 5   explicit          129648 non-null  int64
 6   release_date      129648 non-null  object
 7   danceability      129648 non-null  float64
 8   energy            129648 non-null  float64
 9   key               129648 non-null  int64
 10  mode              25930 non-null   float64
 11  loudness          129648 non-null  float64
 12  speechiness       129648 non-null  float64
 13  acousticness      129648 non-null  float64
 14  instrumentalness  129648 non-null  float64
 15  liveness          129648 non-null  float64
 16  valence           129648 non-null  float64
 17  tempo             129648 non-null  float64
 18  time_signature    129648 non-null  int64
dtypes: float64(10), int64(5), object(4)
memory usage: 18.8+ MB
None
<bound method NDFrame.head of                             id               artist_id  \
0       6C0WWu7RYKbAgWUI3YC0sT  7u710e44HW3K7A5eTnRqHC
1       4q7EBRq8ncztC2PRmEC7Fy  3sFhA6G1N0gG1pszb6kk1m
2       7cNyONpVADZVrW9xe3qq4z  7IAXZaLTb6nkJr8RmVPn5y
3       1bKRTzTFz7wHMxpgZSuPR1  5bOsFzuJ6QZMr86ezC4oXY
4       56OEjuyZ3AROnv4aR1XqhD  6zJ7WZkyTNmB1bFdmHH2k9
...                        ...                     ...
129643  6I2q7ZIY7QX3sWOmuJjhph  7pZH7c4HbKE0ONErpw9cjP
129644  2XvrMHbSO077Ajg7QTTNdY  7jy3rLJdDQY21OgRLCZ9sD
129645  4yFeqGWRt2Z10E2ECWG5I2  6GzV7OET1fJmHRgSLW2pwR
129646  7dJgMpT6LzQTlLMEuoapq2  27T030eWyCQRmDyuvr1kxY
129647  3z0mwmDWHXiZWpCptxttnM  48CUA59SDed3IdCctKndud

                                     name  popularity  duration_ms  explicit  \
0                  Voglio farti un regalo          40       249573         1
1             My Love - Live / Remastered          34       254733         0
2                          Heroes of Sand          45       279347         0
3                   Shine on Harvest Moon           6       193707         0
4                                     男子漢          19       182120         0
...                                   ...         ...          ...       ...
129643          Mit akarsz a boldogságtól          25       279427         0
129644                         Let It Die          58       244960         0
129645           Kortit kertoo kohtalomme          18       246333         0
129646  Believe in Love (2015 - Remaster)          22       323613         0
129647                        Keklik Gibi          34       214453         0

       release_date  danceability  energy  key  mode  loudness  speechiness  \
0        2004-09-01         0.727  0.6630    4   0.0    -4.818       0.2770
1        1976-12-10         0.444  0.3480    5   1.0   -12.729       0.0321
2              2001         0.273  0.8990    6   1.0    -5.131       0.0499
3        1961-10-15         0.628  0.0616    0   1.0   -24.973       0.0558
4        1970-01-11         0.353  0.0663    8   0.0   -24.915       0.0445
...             ...           ...     ...  ...   ...       ...          ...
129643         1996         0.693  0.9300   11   NaN    -6.236       0.0368
129644   2007-09-25         0.596  0.5570    0   NaN    -6.401       0.0299
129645   1988-12-04         0.386  0.4920    2   NaN   -11.271       0.0347
129646   1988-04-15         0.471  0.7650    3   NaN    -4.406       0.0323
129647   2009-01-26         0.517  0.6400   11   NaN    -5.064       0.0467

        acousticness  instrumentalness  liveness  valence    tempo  \
0            0.08010          0.000000    0.1190    0.633   97.865
1            0.65600          0.003740    0.9560    0.284  116.685
2            0.00177          0.000006    0.1280    0.301  159.872
3            0.78400          0.000009    0.1720    0.340   85.012
4            0.95800          0.000446    0.2410    0.317  100.041
...              ...               ...       ...      ...      ...
129643       0.08030          0.008070    0.1570    0.745  139.974
129644       0.02700          0.000016    0.0914    0.314  124.023
129645       0.61000          0.000000    0.3030    0.648  167.668
129646       0.06680          0.082000    0.1280    0.353  132.537
129647       0.50800          0.000000    0.0929    0.479   95.067

        time_signature
0                    4
1                    4
2                    3
3                    4
4                    4
...                ...
129643               4
129644               4
129645               4
129646               4
129647               4

[129648 rows x 19 columns]>

In [ ]:
@TODO muszę połączyć dane z tracks i z sessions żeby określić ile user słucha czego
@ założe że przy skipie nie wysłuchał do końca i wywalam wtedy 1 z odpaleń

# sessions["id"] = range(0,len(sessions))
# sessions['song_id__session_id'] = sessions['track_id'].apply(lambda x: str(x)) + sessions['session_id'].apply(lambda x: str(x))

sessions['full_play'] = sessions['event_type'].apply(lambda x: 1 if x == "Like" or x == "Play" else 0)
sessions['Like'] = sessions['event_type'].apply(lambda x: 1 if x == "Like" else 0)
sessions['Play'] = sessions['event_type'].apply(lambda x: 1 if x == "Play" else 0)
sessions['Skip'] = sessions['event_type'].apply(lambda x: 1 if x == "Skip" else 0)



df_stats(sessions)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453169 entries, 0 to 1453168
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   timestamp            1453169 non-null  datetime64[ns, UTC+02:00]
 1   user_id              1453169 non-null  int64
 2   track_id             1453169 non-null  object
 3   event_type           1453169 non-null  object
 4   session_id           1453169 non-null  int64
 5   id                   1453169 non-null  int64
 6   song_id__session_id  1453169 non-null  object
 7   full_play            1453169 non-null  int64
 8   Like                 1453169 non-null  int64
 9   Play                 1453169 non-null  int64
 10  Skip                 1453169 non-null  int64
dtypes: datetime64[ns, UTC+02:00](1), int64(7), object(3)
memory usage: 122.0+ MB
None
<bound method NDFrame.head of                                timestamp  user_id                track_id  \
0              2022-01-17 12:03:00+02:00     1507  39GRCEbFDzuRoA2o3L6GCv
1       2022-01-17 12:05:40.376000+02:00     1507  39GRCEbFDzuRoA2o3L6GCv
2       2022-01-17 12:05:40.376000+02:00     1507  67TCzZwItIKvgZp1quRx19
3       2022-01-17 12:08:12.883000+02:00     1507  1vx7gxUjwQnVXK2D7M44j4
4       2022-01-17 12:11:08.282000+02:00     1507  3vpIO1agm7pzvTiwHmtkjW
...                                  ...      ...                     ...
1453164 2024-07-27 18:04:09.907000+02:00     2232  2xDHUsWEsH33sKbFqDZPFj
1453165 2024-07-27 18:07:27.922000+02:00     2232  2xDHUsWEsH33sKbFqDZPFj
1453166 2024-07-27 18:07:27.922000+02:00     2232  0055LRFB7zfdCXDGodyIz3
1453167 2024-07-27 18:11:47.415000+02:00     2232  2YxXuCdbUpil3P7tRjhW1t
1453168 2024-07-27 18:12:24.886000+02:00     2232  2YxXuCdbUpil3P7tRjhW1t

        event_type  session_id       id          song_id__session_id  \
0             Play         124        0    39GRCEbFDzuRoA2o3L6GCv124
1             Skip         124        1    39GRCEbFDzuRoA2o3L6GCv124
2             Play         124        2    67TCzZwItIKvgZp1quRx19124
3             Play         124        3    1vx7gxUjwQnVXK2D7M44j4124
4             Play         124        4    3vpIO1agm7pzvTiwHmtkjW124
...            ...         ...      ...                          ...
1453164       Play       40816  1453164  2xDHUsWEsH33sKbFqDZPFj40816
1453165       Skip       40816  1453165  2xDHUsWEsH33sKbFqDZPFj40816
1453166       Play       40816  1453166  0055LRFB7zfdCXDGodyIz340816
1453167       Play       40816  1453167  2YxXuCdbUpil3P7tRjhW1t40816
1453168       Skip       40816  1453168  2YxXuCdbUpil3P7tRjhW1t40816

         full_play  Like  Play  Skip
0                1     0     1     0
1                0     0     0     1
2                1     0     1     0
3                1     0     1     0
4                1     0     1     0
...            ...   ...   ...   ...
1453164          1     0     1     0
1453165          0     0     0     1
1453166          1     0     1     0
1453167          1     0     1     0
1453168          0     0     0     1

[1453169 rows x 11 columns]>

In [51]:
sessions = sessions.sort_values(by=['session_id', 'timestamp'])

In [52]:
result = sessions.groupby(['track_id', 'session_id']).count()

# Display the result
print(result)

                                   timestamp  user_id  event_type  id  \
track_id               session_id
                       126                 6        6           6   6
                       127                 7        7           7   7
                       128                 3        3           3   3
                       129                 2        2           2   2
                       130                 4        4           4   4
...                                      ...      ...         ...  ..
7zzbfi8fvHe6hm342GcNYl 34683               1        1           1   1
                       35165               1        1           1   1
                       36169               2        2           2   2
                       36918               3        3           3   3
                       37981               2        2           2   2

                                   song_id__session_id  full_play  Like  Play  \
track_id               session_id
                       126                           6          6     6     6
                       127                           7          7     7     7
                       128                           3          3     3     3
                       129                           2          2     2     2
                       130                           4          4     4     4
...                                                ...        ...   ...   ...
7zzbfi8fvHe6hm342GcNYl 34683                         1          1     1     1
                       35165                         1          1     1     1
                       36169                         2          2     2     2
                       36918                         3          3     3     3
                       37981                         2          2     2     2

                                   Skip
track_id               session_id
                       126            6
                       127            7
                       128            3
                       129            2
                       130            4
...                                 ...
7zzbfi8fvHe6hm342GcNYl 34683          1
                       35165          1
                       36169          2
                       36918          3
                       37981          2

[871736 rows x 9 columns]

In [53]:
print(sessions.groupby("song_id__session_id").apply())

TypeError: GroupBy.apply() missing 1 required positional argument: 'func'

In [ ]:


nr_songs_played = sessions.groupby('user_id').agg(
        {
                'id':'size',
                'event_type':[lambda x: 1 if skip]
        }
        ).reset_index()

print(nr_songs_played)

      user_id    id
0         101   216
1         102   300
2         103   310
3         104   552
4         105   221
...       ...   ...
2995     3096   499
2996     3097   502
2997     3098   413
2998     3099   500
2999     3100  1012

[3000 rows x 2 columns]

(3000, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           3000 non-null   int64
 1   name              3000 non-null   object
 2   city              3000 non-null   object
 3   street            3000 non-null   object
 4   favourite_genres  3000 non-null   object
 5   premium_user      3000 non-null   bool
dtypes: bool(1), int64(1), object(4)
memory usage: 120.2+ KB
None
           user_id
count  3000.000000
mean   1600.500000
std     866.169729
min     101.000000
25%     850.750000
50%    1600.500000
75%    2350.250000
max    3100.000000